@model Station
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Station</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="./img/svg/logo.svg" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/assets3/css/style.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        .formwarn {
            color: red;
            font-size: 13px;
        }

        .container {
            display: flex;
            justify-content: center;
        }

        img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            justify-content: center;
        }

        .upload {
            display: block;
            width: 150;
            background: #e3362c;
            color: #fff;
            padding: 12px;
            margin: 10px auto;
            border-radius: 5px;
            cursor: pointer;
        }

        .form-container {
            width: 50%;
            /* Adjust the width as needed */
        }

        .photo-container {
            justify-content: center;
            /* Adjust the margin as needed */
        }
    </style>
</head>
<body>
    <div class="layer"></div>
    <article class="sign-up">
        <main class="page-center">
            <form class="sign-up-form form" asp-action="Update_Valid" asp-controller="Station" asp-route-id="@Model.StationId" method="post" enctype="multipart/form-data">
                <div class="container">

                    <div class="photo-container">
                        <label class="form-label-wrapper" style="display: block; text-align: center;justify-content:center">
                            <input style="visibility:hidden" asp-for="PhotoUrl" id="PhotoUrl" />
                            <img id="image" src="@Model.PhotoUrl" />
                            <input type="file" accept="image/jpeg, image/png, image/jpg" id="photo" name="photo" class="form-input" required onchange="displaySelectedImage(this);" style="display:none" />
                            <br />
                            <span id="photo_valid" class="formwarn" style="color:red !important;text-align:center;margin:15px"></span>
                            <label class="upload" for="photo">Uplaod Image</label>
                            <span asp-validation-for="PhotoUrl" id="PhotoUrl_asp" style="color:red;text-align:center"></span>
                        </label>
                    </div>

                    <div class="form-container">
                        <h1 class="sign-up__title">Add New Station</h1>
                        <div class="form-label-wrapper">
                            <label asp-for="StationCity" class="form-label">City<span class="formwarn">*</span></label>
                            <input asp-for="StationCity" class="form-input" oninput="this.value = this.value.trim()" />
                            <span asp-validation-for="StationCity" class="formwarn"></span>
                        </div>

                        <div class="form-label-wrapper">
                            <label asp-for="StationAddress" class="form-label">Address<span class="formwarn">*</span></label>
                            <input asp-for="StationAddress" class="form-input" oninput="this.value = this.value.trim()" />
                            <span asp-validation-for="StationAddress" class="formwarn"></span>
                        </div>

                        <div class="form-label-wrapper">
                            <label asp-for="StationName" class="form-label">Name<span class="formwarn">*</span></label>
                            <input asp-for="StationName" class="form-input" oninput="this.value = this.value.trim()" />
                            <span asp-validation-for="StationName" class="formwarn"></span>
                        </div>

                        <div class="form-label-wrapper">
                            <label asp-for="ContactNumber" class="form-label">Contact Number</label>
                            <input asp-for="ContactNumber" class="form-input" oninput="this.value = this.value.trim()" />
                            <span asp-validation-for="ContactNumber" class="formwarn"></span>
                        </div>
                        <div>
                            <span asp-validation-summary="All" class="formwarn"></span>
                        </div>
                        <div>
                            <button class="form-btn primary-default-btn transparent-btn">Update Station</button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </article>

    <script src="~/assets3/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="~/assets3/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="~/assets3/js/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.js">  </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js">  </script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        function displaySelectedImage(input) {
            if (input.files && input.files[0]) {
                var filename = input.files[0].name;
                document.getElementById("PhotoUrl").value = filename;
                document.getElementById('PhotoUrl_asp').innerHTML = '';
                document.getElementById('image').src = URL.createObjectURL(input.files[0]);
                let flag = document.getElementById('PhotoUrl').value;

                if ((filename.toLowerCase().endsWith(".jpg") || filename.toLowerCase().endsWith(".png") || filename.toLowerCase().endsWith(".jpeg")) && flag != '') {
                    document.getElementById("photo_valid").innerHTML = "";
                } else {
                    let out = filename.split('.').pop().toLowerCase()
                    document.getElementById("photo_valid").innerHTML = `You uploaded ${out} You must upload  (.jpg - .png - .jpeg) format`;
                }
            }
        }
    </script>
</body>
</html>
