@model User;
@{
    Layout = "_MyLayout";

}
<head>
    <link rel="stylesheet" href="/assets3/css/style.min.css">
     <style>
        .formwarn {
            color: red;
            font-size: 13px;
        }

        .text-black
        {
            color:black!important;
        }
    </style>
</head>
<body>


    <div class="layer"></div>
    <main class="page-center ">
        <article class="sign-up ">
            <h1 class="sign-up__title">Get started</h1>
            <form class="sign-up-form form" asp-action="Register_Save" asp-controller="User" method="post">

                <div class="form-label-wrapper" style=" display: block; text-align: center">
                    <label class="text-black">Photo</label>
                    <div class="avatar-container" style=" display: block; text-align: center">

                        <input type="file" accept=".png, .jpg, .jpeg" name="photo" class="form-input" onchange="previewAvatar(event)" style=" display: block; text-align: center" required />

                    </div>

                </div>


                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Fisrt_name" class="text-black" >First Name<span class="formwarn">*</span></label>
                        <br />

                        <input asp-for="Fisrt_name"class="form-input" oninput="this.value = this.value.trim()" />
                        <br />
                        <span asp-validation-for="Fisrt_name" class="formwarn"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Last_name" class="text-black" >Last Name<span class="formwarn">*</span></label>

                        <br />
                        <input asp-for="Last_name"  class="form-input" oninput="this.value = this.value.trim()" />
                        <br />
                        <span asp-validation-for="Last_name" class="formwarn"></span>
                    </div>
                </div>


                <div class="form-label-wrapper">
                    <label asp-for="Email"  class="text-black">Email<span class="formwarn">*</span></label>
                    <input asp-for="Email"  class="form-input" oninput="this.value = this.value.trim()" />
                    <span asp-validation-for="Email" class="formwarn"></span>
                </div>

                <div class="form-label-wrapper">
                    <label asp-for="Phone_number"  class="text-black">Phone Number<span class="formwarn">*</span></label>
                    <input asp-for="Phone_number"  class="form-input" oninput="this.value = this.value.trim()" />
                    <span asp-validation-for="Phone_number" class="formwarn"></span>
                </div>

                <div class="form-label-wrapper">
                    <label asp-for="Address"  class="text-black">Address</label>
                    <input asp-for="Address"  class="form-input" oninput="this.value = this.value.trim()" />
                    <span asp-validation-for="Address" class="formwarn"></span>
                </div>

                <div class="form-label-wrapper">
                    <label asp-for="Password"  class="text-black">Password<span class="formwarn">*</span></label>
                    <input asp-for="Password"  id="password" class="form-input" oninput="this.value = this.value.trim()" />
                    <span asp-validation-for="Password" class="formwarn"></span>
                </div>

                <div class="form-label-wrapper">
                    <label class="text-black" >Confirm Password<span class="formwarn">*</span></label>
                    <input id="confirmPassword"  class="form-input" onchange="ConfirmPassword()" type="password" oninput="this.value = this.value.trim()" />
                    <span asp-validation-for="Password" class="formwarn"></span>
                    <span id="confirmPassword_error" class="formwarn"></span>
                </div>

                <div>
                    <span asp-validation-summary="User" class="formwarn"></span>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-6">
                        <button class="form-btn primary-default-btn transparent-btn">Updata Account</button>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Delete" class="form-btn primary-default-btn transparent-btn" style="background-color:darkred">Delete Account</a>
                    </div>
                </div>
                
            </form>

        </article>
    </main>

    <!-- Chart library -->
    <script src="~/assets3/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="~/assets3/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="~/assets3/js/script.js"></script>


    <script src="~/lib/jquery/dist/jquery.js">  </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js">  </script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        function ConfirmPassword() {
            var pass1 = document.getElementById("password").value;
            var pass2 = document.getElementById("confirmPassword").value;

            if (pass1 !== pass2) {
                document.getElementById("confirmPassword_error").innerHTML = "Passwords do not match";
                console.log("skcnsjc")
            } else {
                document.getElementById("confirmPassword_error").innerHTML = "";
            }
        }
    </script>



</body>
