<head>

    <style>
        .bus {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .row {
            display: flex;
        }

        .seat {
            width: 40px;
            height: 40px;
            border: 1px solid #ccc;
            margin: 5px;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
        }

        .aisle {
            visibility: hidden;
        }

    </style>
</head>

<body>
    <div class="bus">
        <div class="row">
            <div class="seat">1</div>
            <div class="seat aisle"></div>
            <div class="seat">2</div>
            <div class="seat">3</div>
            <div class="seat">4</div>
            <div class="seat">5</div>
            <div class="seat aisle"></div>
            <div class="seat">6</div>
        </div>
        <div class="row">
            <div class="seat">7</div>
            <div class="seat">8</div>
            <div class="seat">9</div>
            <div class="seat">10</div>
            <div class="seat">11</div>
            <div class="seat">12</div>
            <div class="seat aisle"></div>
            <div class="seat">13</div>
        </div>
        <!-- Add more rows as needed -->
    </div>

</body>