@model User;
@{
    Layout = null;

}
<head>
    <link rel="stylesheet" href="/assets3/css/style.min.css">
    <style>
        .formwarn {
            color: red;
            font-size: 13px;
        }
    </style>
</head>
<body>

    <div class="layer darkmode"></div>
    <main class="page-center darkmode">
        <article class="sign-up darkmode">
            <h1 class="sign-up__title">Welcome back!</h1>
            <p class="sign-up__subtitle">Sign in to your account to continue</p>
            <form class="sign-up-form form" asp-action="Login_Valid" method="post" darkmode>
                <label class="form-label-wrapper">
                    <p class="form-label">Email</p>
                    <input asp-for="Email" class="form-input" oninput="this.value = this.value.trim()" />
                    <span asp-validation-for="Email" class="formwarn"></span>
                </label>
                <label class="form-label-wrapper">
                    <p class="form-label">Password</p>
                    <input asp-for="Password" class="form-input" oninput="this.value = this.value.trim()" />
                    <span asp-validation-for="Password" class="formwarn"></span>
                </label>
                <a class="link-info forget-link" href="##">Forgot your password?</a>
                
                <button class="form-btn primary-default-btn transparent-btn">Sign in</button>

                <a asp-action="Register" style="text-align:center!important;justify-content:center!important" class="link-info forget-link">Create Account?</a>

                
            </form>
        </article>
    </main>
    <!-- Chart library -->
    <script src="~/assets3/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="~/assets3/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="~/assets3/js/script.js"></script>


    <script src="~/lib/jquery/dist/jquery.js">  </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js">  </script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</body>