@model User;
@{
    Layout = null;

}
<head>
    <link rel="stylesheet" href="/assets3/css/style.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        .formwarn {
            color: red;
            font-size: 13px;
        }
    </style>
</head>
<body>


    <div class="layer darkmode"></div>
    <main class="page-center darkmode">
        <article class="sign-up darkmode">
            <h1 class="sign-up__title">Get started</h1>
            
            <form class="sign-up-form form" asp-action="Register_Save" asp-controller="User" method="post" darkmode>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Fisrt_name" class="text-black" style="margin:5px ;color:white">First Name<span class="formwarn">*</span></label>
                        <br />
                       
                        <input asp-for="Fisrt_name" style="margin:5px ;color:white" class="form-input" oninput="this.value = this.value.trim()" />
                        <br />
                        <span asp-validation-for="Fisrt_name" class="formwarn"></span>
                    </div>
                    <div class="col-md-6" >
                        <label asp-for="Last_name" class="text-black" style="margin:5px ;color:white">Last Name<span class="formwarn">*</span></label>
                        
                        <br />
                        <input asp-for="Last_name" style="margin:5px ;color:white" class="form-input" oninput="this.value = this.value.trim()" />
                        <br />
                        <span asp-validation-for="Last_name" class="formwarn"></span>
                    </div>
                </div>


                <div class="form-label-wrapper">
                    <label asp-for="Email" style="margin:5px ;color:white" class="text-black">Email<span class="formwarn">*</span></label>
                    <input asp-for="Email" style="margin:5px ;color:white" class="form-input" oninput="this.value = this.value.trim()" />
                    <span asp-validation-for="Email" class="formwarn"></span>
                </div>

                <div class="form-label-wrapper">
                    <label asp-for="Phone_number" style="margin:5px ;color:white" class="text-black">Phone Number<span class="formwarn">*</span></label>
                    <input asp-for="Phone_number" style="margin:5px ;color:white" class="form-input" oninput="this.value = this.value.trim()" />
                    <span asp-validation-for="Phone_number" class="formwarn"></span>
                </div>

                <div class="form-label-wrapper">
                    <label asp-for="Address" style="margin:5px ;color:white" class="text-black">Address</label>
                    <input asp-for="Address" style="margin:5px ;color:white" class="form-input" oninput="this.value = this.value.trim()" />
                    <span asp-validation-for="Address" class="formwarn"></span>
                </div>

                <div class="form-label-wrapper">
                    <label asp-for="Password" style="margin:5px ;color:white" class="text-black">Password<span class="formwarn">*</span></label>
                    <input asp-for="Password" style="margin:5px ;color:white" id="password" class="form-input" oninput="this.value = this.value.trim()" />
                    <span asp-validation-for="Password" class="formwarn"></span>
                </div>

                <div class="form-label-wrapper">
                    <label class="text-black" style="margin:5px ;color:white">Confirm Password<span class="formwarn">*</span></label>
                    <input id="confirmPassword" style="margin:5px ;color:white" class="form-input" onchange="ConfirmPassword()" type="password" oninput="this.value = this.value.trim()" />
                    <span asp-validation-for="Password" class="formwarn"></span>
                    <span id="confirmPassword_error" class="formwarn"></span>
                </div>

                <div>
                    <span asp-validation-summary="User" class="formwarn"></span>
                </div>
                <br />

                <div class="form-checkbox-wrapper">
                    <input class="form-checkbox" type="checkbox" required>
                    <span class="form-checkbox-label">Remember me next time</span>
                </div>
                <button formmethod="post" type="submit" class="form-btn primary-default-btn transparent-btn">Create Account</button>
            </form>

        </article>
    </main>

    <!-- Chart library -->
    <script src="~/assets3/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="~/assets3/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="~/assets3/js/script.js"></script>


    <script src="~/lib/jquery/dist/jquery.js">  </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js">  </script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

        <script>
            function ConfirmPassword() {
                var pass1 = document.getElementById("password").value;
                var pass2 = document.getElementById("confirmPassword").value;

                if (pass1 !== pass2) {
                    document.getElementById("confirmPassword_error").innerHTML = "Passwords do not match";
                    console.log("skcnsjc")
                } else {
                    document.getElementById("confirmPassword_error").innerHTML = "";
                }
            }
        </script>

    

</body>
