@using zBus.GLobal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var userEmail = HttpContextAccessor.HttpContext.Session.GetString("UserEmail");
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
    var showLoginReminder = string.IsNullOrEmpty(userEmail);
 }
<head>
   
</head>
<ul class="navbar-nav">
    @if (!showLoginReminder) // Removed unnecessary @ symbol and extra parenthesis
    {
        if (userRole == "Customer")
        {
            <a asp-action="Account" asp-controller="User" style="color:white!important;">
                <i data-feather="user" aria-hidden="true"></i>
                <span>Profile</span>
            </a>
        }
        else
        {
            <a asp-action="Admin" asp-controller="User" style="color:white!important">
                <i data-feather="user" aria-hidden="true"></i>
                <span>Admin</span>
            </a>
        }
    }
    else
    {
        <li class="nav-item"><a class="nav-link" id="register" asp-action="Register" asp-controller="User">Register</a></li>
        <li class="nav-item"><a class="nav-link" id="login" asp-action="Login_Page" asp-controller="User">Login</a></li>
        
    }
</ul>
<script src="~/assets3/plugins/feather.min.js"></script>
<script src="~/assets3/js/script.js"></script>
<!-- Chart library -->
<script src="~/assets3/plugins/chart.min.js"></script>
<!-- Icons library -->

<!-- Custom scripts -->

<script>

   
</script>
