@model List<Driver>
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendors/linericon/style.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/assets/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <link href="/assets2/css/style.css" rel="stylesheet">

<style>
    .banner_area {
        background: #04091e;
        position: relative;
        z-index: 1;
    }

    .bg-parallax {
        background: url("/imgs/driver.jpg") no-repeat scroll center / cover !important;
        opacity: 0.50;
       
    }


    .position {
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
    }

</style>
</head>
<body>


    <div class="banner_area">
    <div class="booking_table d_flex align-items-center">

        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
        </div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Welcome To Drivers Managment Board </h2>
                <h3>You Can Add Delete And Update Drivers Status</h3>
                <a class="btn btn-secondary me-2"> Add Driver</a>
            </div>
        </div>
    </div>
    </div>
	<div class="untree_co-section product-section before-footer-section">
		<div class="container">
			<div class="row">

				<!-- Start Column 1 -->
                @foreach (var driver in @Model)
                {
                    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                        <a class="product-item" href="cart.html">
                            <img src="/imgs/product-1.png" class="img-fluid product-thumbnail">
                            <h3 class="product-title">@driver.FullName</h3>
                            <strong class="product-price">@driver.YearsOfExperience Years Of Experience</strong>
                            <span class="icon-cross">
                                <img src="/imgs/cross.svg" class="img-fluid">
                            </span>
                        </a>
                    </div>
                }

			</div>
		</div>
	</div>


    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/vendors/nice-select/js/jquery.nice-select.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/stellar.js"></script>
    <script src="~/assets/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
</body>
